.animated-text {
    color: white;
    /* Color inicial */
    animation: colorChange 3.5s infinite;
    /* Nombre de la animación, duración de 3 segundos, repetición infinita */
}

@keyframes colorChange {
    0% {
        color: pink;    
        /* Empieza en rosa */
    }

    100% {
        color:#de4c8a;
        /* Termina en blanco */
    }
}