.animated-text {
    color: white;
    /* Color inicial */
    animation: colorChange 4s infinite;
    /* Nombre de la animación, duración de 3 segundos, repetición infinita */
}

@keyframes colorChange {
    0% {
        color: pink;
        /* Empieza en rosa */
    }

    100% {
        color: rgb(236,83,160);
        /* Termina en blanco */
    }
}